:root {
  --columns: 6;
}
*{
  font-family: 'Roboto', sans-serif;
  transition: display 0.5s ease;
}

.notes {
  padding:0px 25px 0px 25px;
  display: grid;
  place-items: center; 
  /* Adjusting for the 10px grid-gap as well */
  grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
}

@media (max-width:500px) {
  .notes{
     margin-left: 20px;
  }
  .form{
    height:160px;
    width:270px;
  }
  .form button{
    left:210px;
    top:55px;
  }
  .form textarea{
    width:250px;
  }
  .header{
    height:55px;
  }
  .header p {
    font-size: 24px;
  }
  .header img{  
    margin-right: 5px;
    height:30px;
    width:30px;
  }
  .text{
    width:260px;
    height:45px;
  }
}